.footer {
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid #666;
  .nav {
    width: calc(100% / 3 * 2);
    a {
      display: block;
      border-bottom: 1px solid #666;
      border-right: 1px solid #666;
      padding: 0;
      line-height: 1;
      transition: all 0.3s ease-in;
      font-family: 'Oswald', sans-serif;
      font-size: 6rem;
      font-weight: 500;
      &:hover {
        background: #e0e0e0;
      }
    }
  }
  .sub {
    width: calc(100% / 3);
    border-bottom: 1px solid #666;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
  }
  small {
    display: block;
    width: 100%;
    img {
      width: 100%;
    }
  }
}