@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
// セッティング
:root {
  --max-width: 1200px;
  --border-radius: 6px;
  --background: #f0f0f0;
  --card-border-rgb: 131, 134, 135;
  --card-rgb: 180, 185, 188;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --foreground: #2c3e50;
  --primary-glow: conic-gradient(
  from 180deg at 50% 50%,
  #16abff33 0deg,
  #0885ff33 55deg,
  #54d6ff33 120deg,
  #0071ff33 160deg,
  transparent 360deg
  );
  --secondary-glow: radial-gradient(
  rgba(255, 255, 255, 1),
  rgba(255, 255, 255, 0)
  );
  --tile-border: conic-gradient(
  #00080,
  #00040,
  #00030,
  #00020,
  #00010,
  #00010,
  #00080
  );
  --tile-end-rgb: 228, 232, 233;
  --tile-start-rgb: 239, 245, 249;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c3e50;
    --card-border-rgb: 200, 200, 200;
    --card-rgb: 100, 100, 100;
    --foreground:  #f0f0f0;
    --primary-glow: radial-gradient(rgba(1, 65, 255, .4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, .3)
    );
    --tile-border: conic-gradient(
    #fff80,
    #fff40,
    #fff30,
    #fff20,
    #fff10,
    #fff10,
    #fff80
    );
    --tile-end-rgb: 2, 5, 19;
    --tile-start-rgb: 2, 13, 46;
  }
}

// BrowserReset
html, body, div, span, nav, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, button, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, hgroup,
main, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-style: inherit;
	font-weight: inherit;
	background: transparent;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}
html {
	font-size: 10px;
	line-height: 1;
	overflow-y: scroll;
}
body {
  background: var(--background);
  color: var(--foreground);
	font-size: 1.6rem;
  line-height: 1.8;
  word-break: break-word;
  word-wrap: break-word;
}
img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	vertical-align: bottom;
}
strong {
	font-weight: bold;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
sup {
	font-size: 70%;
	vertical-align: super;
}
sub {
	font-size: 70%;
	vertical-align: sub;
}
caption, th, td {
	font-weight: normal;
	vertical-align: top;
}
input {
	vertical-align: middle;
	font-family: inherit;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
}
input[type="radio"],
input[type="checkbox"] {
	margin: 0;
}
textarea {
	resize: vertical;
	font-family: inherit;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
}
button {
	font-family: inherit;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select {
	vertical-align: middle;
	font-family: inherit;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
a {
  color: inherit;
  text-decoration: none;
  color: var(--foreground);
}

//大外枠
#__next {
  width: calc(100% - 5%);
  max-width: 1400px;
  min-height: 98vh;
  margin: 3rem auto;
  border: 2px solid var(--foreground);
  display: flex;
  flex-flow: column wrap;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
