//mixin
@mixin mq767 {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin mq($size) {
  @media only screen and (max-width: $size + px) {
    @content;
  }
}

.main {
  display: flex;
  flex-flow: row nowrap;
  min-height: 50vh;
  @include mq767 {
    flex-flow: row wrap;
  }
  .main_visual {
    padding: 5%;
    width: calc(100% / 3 * 2);
    border-right: 1px solid rgba(var(--foreground),1);
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
  @include mq767 {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(var(--foreground),1);
  }
    img {
      max-width: 100%;
      height: auto;
    }
    p {
      width: 100%;
      font-size: 2rem;
      text-align: center;
      margin: 30px auto 0;
    }
  }
}
.content {
  position: relative;
  width: calc(100% / 3);
  background: url(/img/img_baqet.svg) no-repeat bottom 15% right 20%;
  background-size: 60% auto;
  @include mq767 {
    width: 100%;
  }
  a {
    border: 2px dashed rgba(var(--foreground), .5);
    display: block;
    width: 90%;
    height: 90%;
    margin: 5% auto;
    padding: 20px;
  @include mq767 {
      padding: 20px 20px 240px;
  }
  }
  h2 {
    white-space: nowrap;
    font-size: 7rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 40px;
    line-height: 1;
  }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    border: 1px solid rgba(var(--card-border-rgb), .15);
    background: rgba(var(--card-rgb), .1);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {


  .grid {
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;

    grid-template-columns: 1fr;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: .5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    height: 300px;
    transform: none;
  }
}

/* Tablet and Smaller Desktop */
// @media (min-width: 701px) and (max-width: 1120px) {
//   .grid {
//     grid-template-columns: repeat(2, 50%);
//   }
// }

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
